{% extends 'base.html.twig' %}

{% block title %}Shopping Cart{% endblock %}

{% block body %}

{{ include('header.html.twig') }}

<head>
    <link href="{{ asset('css/cart.css') }}" rel="stylesheet"/>
</head>

{% set SubTotal = 0 %}

<section class="h-100 h-custom" style="background-color: white;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                  </div>
                    <hr class="my-4">
                   {% for cart in carts %}
                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        <img class="card-img-top" src="{{ asset('images/product/' ~ cart.Product.Image) }}"/>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-black mb-0">{{ cart.Product.Name }}</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                      </button>

                      <input id="form1" min="1" name="quantity" value="{{ cart.Quantity }}" type="number"
                        class="form-control form-control-sm" />

                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                    
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      {% set Total = cart.Product.Price * cart.Quantity %}
                      {% set SubTotal = SubTotal + Total %}
                      <h6 class="mb-0">$ {{ Total }}</h6>
                    </div>
                    <a href="{{ path('app_cart_edit', {'id': cart.id}) }}" class="btn btn-light">Edit</a>
                    <a href="{{ path('app_cart_delete', {'id': cart.id}) }}" class="btn btn-light">Delete</a>

                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                    </div>
                  </div>
                {% endfor %}
                
                  <hr class="my-4">                 
                  <div class="pt-5">
                    <h6 class="mb-0"><a href="#!" class="text-body">
                    <a href="{{ path('app_product_index') }}">Back to shop</a></h6>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 bg-grey">
                <form action={{ path('app_confirm') }} method="get">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4">

                    <h5 class="text-uppercase mb-3">Shipping</h5>

                    <div class="mb-4 pb-2">
                      <select name="shipment">
                        <option value="1">Giaohangnhanh</option>
                        <option value="2">VNPost</option>
                        <option value="3">Viettel Post</option>
                        <option value="4">AhaMove</option>
                      </select>
                    </div>

                    <h5 class="text-uppercase mb-3">Payment Method</h5>

                    <div class="mb-4 pb-2">
                      <select name="payment">
                        <option value="1">Visa</option>
                        <option value="2">MasterCard</option>
                        <option value="3">PayPal</option>
                        <option value="4">MoMo</option>
                      </select>
                    </div>

                    <hr class="my-4">

                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total price</h5>
                      <h5>$ {{ SubTotal }}</h5>
                    </div>

                    <input type="submit" value="CHECK OUT" class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br><br><br>

{{ include('footer.html.twig') }}

{% endblock %}