{% extends 'base.html.twig' %}

{% block title %}Checkout{% endblock %}

{% block body %}

{{ include('header.html.twig') }}

<head>
    <link href="{{ asset('css/cart.css') }}" rel="stylesheet"/>
</head>

{% set SubTotal = 0 %}

<div class=" container-fluid my-5 ">
    <div class="row justify-content-center ">
        <div class="col-xl-10">
            <div class="card shadow-lg ">
                <br><br>
            
                <div class="row justify-content-around">
                    <div class="col-md-5">
                        <div class="card border-0">
                            <div class="card-header pb-0">
                                <h2 class="card-title space ">Order Confirmation</h2>
                                <p class="card-text text-muted mt-4  space">SHIPPING DETAILS</p>
                                <hr class="my-0">
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label name="FullName" class="small text-muted mb-1">FULL NAME</label>
                                    <p><b>{{ app.user.FullName }}</b></p>
                                </div>

                                <div class="form-group">
                                    <label for="Email" class="small text-muted mb-1">EMAIL</label>
                                    <p><b>{{ app.user.Email }}</b></p>
                                </div>

                                <div class="form-group">
                                    <label for="PhoneNumber" class="small text-muted mb-1">PHONE NUMBER</label>
                                    <p><b>{{ app.user.PhoneNumber }}</b></p>
                                </div>

                                <div class="form-group">
                                    <label for="Address" class="small text-muted mb-1">ADDRESS</label>
                                    <p><b>{{ app.user.Address}}</b></p>
                                </div>

                                <div class="row mb-md-5">
                                    <div class="col">
                                        <a href="{{ path('app_checkout_cart') }}" class="btn btn-success w-100" style="float:right">Confirm Order</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card border-0 ">
                            <div class="card-header card-2">
                                <p class="card-text text-muted mt-md-4  mb-2 space">YOUR ORDER </p>
                                <hr class="my-2">
                            </div>
                            {% for cart in carts %}
                            <div class="card-body pt-0">
                                <div class="row  justify-content-between">
                                    <div class="col-auto col-md-7">
                                        <div class="media flex-column flex-sm-row">
                                            <div class="media-body  my-auto">
                                                <div class="row ">
                                                    <div class="col-auto"><p class="mb-0"><b>{{ cart.Product.Name }}</b></p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" pl-0 flex-sm-col col-auto  my-auto"> <p class="boxed-1">{{ cart.Quantity }}</p></div>
                                    {% set Total = cart.Product.Price * cart.Quantity %}
                                    {% set SubTotal = SubTotal + Total %}
                                    <div class=" pl-0 flex-sm-col col-auto  my-auto "><p><b>$ {{ Total }}</b></p></div>
                                <hr class="my-2">
                            </div>
                            {% endfor %}

                            <div class="row ">
                                <div class="col">   
                                    <div class="row justify-content-between">
                                        <div class="col-4"><p class="mb-1"><b>Subtotal</b></p></div>
                                        <div class="flex-sm-col col-auto"><p class="mb-1"><b>$ {{ SubTotal }}</b></p></div>
                                    </div>

                                    {% for ship in shipments %}
                                    <div class="row justify-content-between">
                                        <div class="col"><p class="mb-1"><b>Shipping</b></p></div>
                                        <div class="flex-sm-col col-auto"><p class="mb-1"><b>$ {{ ship.Price }}</b></p></div>
                                    </div>

                                    <div class="row justify-content-between">
                                        <div class="col-4"><p ><b>Total</b></p></div>
                                        <div class="flex-sm-col col-auto"><p  class="mb-1"><b>$ {{ SubTotal + ship.Price }}</b></p> </div>
                                    </div><hr class="my-0">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {{ include('footer.html.twig') }}

{% endblock %}