{% extends 'base.html.twig' %}

{% block title %}Aurora Website{% endblock %}

{% block body %}
    {{ include('header.html.twig') }}

        <div id="slider">
            <figure>
                <img src="{{ asset('images/firstimg.jpg') }}" alt=""/>
                <img src="{{ asset('images/secondimg.jpg') }}" alt=""/>
                <img src="{{ asset('images/thirdimg.jpg') }}" alt=""/>
                <img src="{{ asset('images/fourimg.jpg') }}" alt=""/>
                <img src="{{ asset('images/firstimg.jpg') }}" alt=""/>
            </figure>
        </div>

        <section id="new-arrival" class="section-p1">
            <h2>NEW ARRIVALS</h2>

            <div class="pro-container">
                <div class="pro">
                    <img src="{{ asset('images/product1.jpg') }}" alt=""/>
                    <div class="design">
                        <h5>Pleated Gold Dress</h5>
                        <h4>$65</h4>
                        <a href="#"><img src="{{ asset('images/cart.png') }}" alt=""/></a>
                    </div>
                </div>
                
                <div class="pro">
                    <img src="{{ asset('images/product2.jpg') }}" alt=""/>
                    <div class="design">
                        <h5>Beaded Plum Red Dress</h5>
                        <h4>$60.2</h4>
                        <a href="#"><img src="{{ asset('images/cart.png') }}" alt=""/></a>
                    </div>
                </div>
                
                <div class="pro">
                    <img src="{{ asset('images/product4.jpg') }}" alt=""/>
                    <div class="design">
                        <h5>Plaid White Skirt</h5>
                        <h4>$34.6</h4>
                        <a href="#"><img src="{{ asset('images/cart.png') }}" alt=""/></a>
                    </div>
                </div>
            </div>
        </section>  

        <section id="newsletter" class="section-p1 section-m1">
            <div class="newstext">
                <h4>Sign Up For Newsletters</h4>
                <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
            </div>
            <div class="form">
                <input type="text" placeholder="Your email address">
                <button class="normal" type="submit">Sign Up</button>
            </div>
        </section>

    {{ include('_footer.html.twig') }}
{% endblock %}