{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    <h1>Cart</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cart.id }}</td>
            </tr>
              <tr>
                <th>User</th>
                <td>{{ cart.User.email }}</td>
            </tr>
             <tr>
                <th>Product</th>
                <td>{{ cart.Product.Name }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ cart.Quantity }}</td>
            </tr>
        </tbody>
    </table><br>

    <a class="btn btn-dark" href="{{ path('app_review_cart') }}">back to list</a><br>

    <a class="btn btn-dark" href="{{ path('app_cart_edit', {'id': cart.id}) }}">edit</a><br>

    {{ include('cart/_delete_form.html.twig') }}
{% endblock %}
