{% extends 'base.html.twig' %}

{% block body %}
<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="100   " role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{ path('app_product_view') }}" class="nav-link px-2 text-white">Product</a></li>
          <li><a href="{{ path('app_category_index') }}" class="nav-link px-2 text-white">Category</a></li>
          <li><a href="{{ path('app_shipment_index') }}" class="nav-link px-2 text-white">Shipment</a></li>
          <li><a href="{{ path('app_payment_index') }}" class="nav-link px-2 text-white">Payment</a></li>
          <li><a href="{{ path('app_user_index') }}" class="nav-link px-2 text-white">User</a></li>
          <li><a href="{{ path('app_order_index') }}" class="nav-link px-2 text-white">Order</a></li>
          <li><a href="{{ path('app_order_detail_index') }}" class="nav-link px-2 text-white">OrderDetail</a></li>
        </ul>

        

       
      </div>
    </div>
  </header>
{% endblock %}