{% extends 'base.html.twig' %}



{% block body %}
<h1>All Product</h1>
<a href="{{ path('app_product_new') }}" class="btn btn-dark">Add New Product</a>
 <section id="all-product" class="section-p1">
<form action={{ path('app_product_view') }} method="get">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    {% for product in products %}
                        <div class="card h-100">
                           <a href="{{ path('app_product_show', {'id': product.id}) }}"><img class="card-img-top" src="{{ asset('images/product/' ~ product.getImage()) }}"/></a>
                            <div class="design">
                                <h5 class="card-title">{{ product.Name }}</h5>
                                <h4>$ {{ product.Price }}</h4>
                                 <a href="{{ path('app_product_edit', {'id': product.id})}}"class="btn btn-dark">Edit</a>
                           <a href="{{ path('app_product_delete', {'id': product.id})}}" class="btn btn-dark">Delete</a>
                            </div>
                            
                        </div>
                       
                    {% endfor %}
                </div>
                </form>
                </section>


{% endblock %}