{% extends 'base.html.twig' %}

{% block title %}Product Detail{% endblock %}

{% block body %}

    {{ include('header.html.twig') }}
    <br><br><br><br>

    <div class="container">
        <div class="col-lg-8 main-section bg-white">
            <div class="row">
                <div class="col-lg-5 left-side-product-box pb-3">
                    <img class="card-img-top" src="{{ asset('images/product/' ~ product.getImage()) }}"/>
                </div>
                <div class="col-lg-7">
                    <div class="right-side-pro-detail m-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3 class="card-title"><b>{{ product.Name }}</b></h3>
                                <br>
                            </div>
                            <div class="col-lg-12">
                                <h5>$ {{ product.Price }}</h5>
                                <hr class="p-0 m-0">
                            </div>
                            <div class="col-lg-12 pt-2">
                                <p>
                                <font size="3" color="gray">{{ product.Description }}</font>
                                </p>
                                <hr class="m-0 pt-2 mt-2">
                            </div>

                            <form action={{ path('app_add_cart', {'id': product.id}) }} method="get">
                                {% if app.user %}
                                    <div class="col-lg-12">
                                        <h5>Quantity:</h5>
                                        <input type="number" min="1" name="quantity" class="form-control text-center w-100">
                                    </div>

                                    <div class="col-lg-12 mt-3">
                                        <div class="row">
                                            <div class="col-lg-6 pb-2">
                                                <input type="submit" value="Add To Cart" class="btn btn-dark w-100">
                                            </div>
                                            <div class="col-lg-6">
                                                <a href="#" class="btn btn-success w-100">Shop Now</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('app_product_delete', {'id': product.id}) }}"></a>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>

    {{ include('footer.html.twig') }}

{% endblock %}
