    <footer class="section-p1">
        <div id="contact" class="col">
            <P><img src="{{ asset('images/product/aurora.png') }}" width="155px" height="55px"" alt=""></P>
            <h4><b>Contact</b></h4>
            <p><strong>Address: </strong>562 Le Duan Street, Thanh Khe District, Da Nang</p>
            <p><strong>Email: </strong>cskh@aurora.vn</p>
            <p><strong>Phone: </strong>1900 986 882</p>
            <p><strong>Opening times: </strong>9:00 AM - 22:00 PM</p>
            
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <a href="#"><img src="{{ asset('images/product/facebook.png') }}" alt="" width="22px" height="22px"></a>
                    <a href="#"><img src="{{ asset('images/product/instagram.png') }}" alt="" width="22px" height="22px"></a>
                    <a href="#"><img src="{{ asset('images/product/tiktok.png') }}" alt=""width="22px" height="22px"></a>
                    <a href="#"><img src="{{ asset('images/product/youtube.png') }}" alt=""width="22px" height="22px"></a>
                </div>
            </div>
        </div>
        
        <div id="aboutus" class="col">
            <h4><b>About</b></h4>
            <a href="#">About Us</a>
            <a href="#">Payment Policy</a>
            <a href="#">Shipping Policy</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Size Guide</a>
        </div>
        
        <div class="col">
            <h4><b>My Account</b></h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>
        
        <div class="col install">
            <h4><b>Install App</b></h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="{{ asset('images/product/appstore.jpg') }}" alt="" width="180px" height="130px">
            </div>
            <br/>
            <p><b>Secured Payment Gateways</b></p>
            <img src="{{ asset('images/product/payment.png') }}" alt="" width="260px" height="50px">
        </div>
    </footer>